@charset "utf-8";

/* 공통으로 사용할 변수 선언 */

/* noto sans 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root{
  --main_txt_color:#333;
  --bgColor1:#000;
  --bgColor2:#7c7c7c;
  --txtColor1:#fff;
  --base_font_size:12px;
  --base_font_family:'Noto Sans KR', arial, sans-serif;
}

/* 공통서식  */
/* 1. 글자모양, 크기, 색상 */
body{
  font-family: var(--base_font_family);
  font-size: var(--base_font_size);
  color: var(--main_txt_color);
}
/* 2. 링크서식 (글자모양, 색상, 크기) */
a{
  font-family:var(--base_font_family) ;
  font-size: var(--base_font_size);
  text-decoration: none;
}

/* 3. 서브페이지 공통 UI서식 */
/* 
  버튼, INPUT,내비게이션, 메뉴...
*/

.toggle_btn, .cart_btn{
  position: absolute;top:13px;
}
.toggle_btn{
  left: 14px;
  background: none;
  border: none;
}
.cart_btn{right: 14px;}
.toggle_btn img, .cart_btn img{width: 36px;}

/* 모바일 네비게이션 서식 */
.navi{
  background: var(--bgColor1);
  width: 100%;height: 100%;
  position: fixed;
  top: 0px;left: -100%;
  z-index: 1000;
  transition: 0.3s;
}

/* 닫기 버튼 서식 */
.close_btn{
  border: none;
  background: none;
  position: absolute;
  top: 20px;
  left: 5%;
}

/* gnb서식 */
.gnb{
  width: 90%;
  margin: 80px auto 0px auto;
}
.gnb > li{
  line-height: 44px;
  border-bottom: 1px solid var(--bgColor2);
  text-indent: 10px;
}
.gnb > li > a{
  display: block;
  font-size: 1rem;
  transition: 0.3s;
  color: var(--txtColor1);
}
.gnb > li > a:hover{
  background: var(--bgColor2);
}

/* 로긘, 회원가입 , 장바구니, 주문조회 버튼 서식 */
.form_navi{
  width: 90%;margin: 30px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.form_navi li{
  width: 48.74%;
  line-height: 40px;
  display: inline-block;
  background-color: var(--bgColor2);
  margin: 1px 0.20%;
  text-align: center;
}
.form_navi li a{
  color: var(--txtColor1);
  font-size: 0.92rem;
  display: block;
}

.member_info{
  color: #fff;
  text-align: right;
  font-size: 1.1rem;
}

/* 로그인 영역  */
.login{
  width: 100%;
}
.login>h2{
  text-align: center;
  line-height: 50px;
  background-color: #ccc;
  font-size: 1.1rem;
  color: #333;
  font-weight: 600;

}
.login_form{
  width: 90%;
  margin: 0 auto;
}
.login  p{
  margin: 10px 0px;
}
.id > label, .password >label{
  display: none;
}
#username, #password{
  width: 100%;
  line-height: 35px;
  border: 1px solid #ccc;
  text-indent: 10px;
}
.login_btn{
  width: 100%;
  line-height: 35px;
  border: none;
  background-color: #f00;
  color: #fff;
}
.login_more{
  text-align: center;
  line-height: 35px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.login_more>a{
  padding-right: 10px;
}
.join_link{
  text-align: center;
}
.join_link>h3{
  line-height: 35px;
  font-size: 1.1rem;
  font-weight: 600;

}
.join_link>span{
  padding: 10px 0px;
  color: #7c7c7c;
  font-weight: 500;
}
.join_link>a{
  display: block;
  line-height: 35px;
  width: 100%;
  border: 1px solid #ccc;
  margin: 30px 0px;
}

/* 회원가입 영역 */
.join{
  width: 100%;
}
.join>h2{
  text-align: center;
  line-height: 50px;
  background-color: #ccc;
  font-size: 1.1rem;
  color: #333;
  font-weight: 600;

}
.join_form{
  width: 90%;
  margin: 0 auto;
}
.join_form  p{
  margin: 10px 0px;
}
.join_form p:first-child {
  text-align: right;
}
.join_form p:first-child >p{
  display: inline;
  padding-right: 20px;
}

.join_form label{
  display: none;
}
.join_form label:last-child{
  display: inline;
}
#password2, #email, #tel{
    width: 100%;
  line-height: 35px;
  border: 1px solid #ccc;
  text-indent: 10px;
}
.join_btn{
  width: 100%;
  line-height: 35px;
  border: none;
  background-color: #f00;
  color: #fff;
}
.id_check{
  margin-top: 10px;
  border: none;
  color: #fff;
  background-color: #333;

}